* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;
  /* center content */
  max-width: 800px;
  /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

p {margin-bottom: 12px;}

span {font-style: italic;}

h1,
h2 {font-weight: 400;}

h1 {font-size: 36px;}

h2 {
  font-size: 32px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

header {
  margin-bottom: 32px;
  text-align: center;
}

footer {
  margin-top: 64px;
  text-align: center;
}

ul {
  margin-bottom: 25px;
  margin-left: 30px;
}

.place {
  font-size: 18px;
}

section {margin-bottom: 15px;}

.post {
  font-size: 24px;
  border-bottom: none;
}

.name-in-footer {font-weight: bold;}
